altair==4.2.2
annotated-types==0.7.0
anyio==4.6.2.post1
attrs==24.2.0
audio-recorder-streamlit==0.0.10
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distro==1.9.0
entrypoints==0.4
gitdb==4.0.11
GitPython==3.1.43
gTTS==2.5.4
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
Jinja2==3.1.4
jiter==0.7.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain-core==0.3.19
langchain-openai==0.2.9
langsmith==0.1.143
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
narwhals==1.13.5
numpy==1.24.4
openai==1.54.4
orjson==3.10.11
packaging==23.2
pandas==2.2.3
protobuf==4.25.3
pyarrow==18.0.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
python-dotenv==1.0.1
requests==2.32.3
requests-toolbelt==1.0.0
referencing==0.36.2
rpds-py==0.24.0
streamlit==1.23.1
streamlit-float==0.3.5
streamlit-webrtc==0.46.0
tenacity==8.2.2
tiktoken==0.9.0
toolz==1.0.0
typing-extensions==4.13.2
tzdata==2025.2
PyYAML==6.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
